p {
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    line-height: 1.3;
    text-decoration: underline;
    text-transform: capitalize;
    text-indent: 5rem;
    text-align: center;
    text-shadow: 15px 10px 0px gray;
    letter-spacing: 0.05rem;
}