img {
  max-width: 100%;
  display: block;
}

div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  font-size: 2rem;
}

@media (min-width: 600px) {
  .minmax img {
    /* grid-row: 2; */
    order: 2;
  }
}

.galeria {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
