p[required] {
  border: 2px solid red;
}

a[href="#contato"] {
  border: 2px solid greenyellow;
}

[href^="#"] {
  background: tomato;
}

[href$=".com"] {
  background: green;
}

section > h2 {
  color: tomato;
}

p {
  margin: 0px;
}

article {
  background: green;
  padding: 10px;
}

p + p {
  margin-top: 20px;
}

* {
  border: 2px solid red;
}
