body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

div {
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    background: #111;
}

div h2 {
    color: white;
}

div p {
    color: #b2b2b2;
}

span {
    color: #febe01;
}

button {
    background: #febe00;
    color: #332200;
    padding: 10px;
    border-radius: 4px;
    border-color: none;
}